# Игнорируем исполняемые файлы
*.exe

# Игнорируем файлы результата
res.txt

# Игнорируем объектные файлы
*.o

# Игнорируем каталог build (если используется)
build/

# Игнорируем временные файлы
*.tmp
*.log

# Виртуальное окружение
venv/
